* {
    box-sizing: border-box;
}

:root {
    --primary-color: #2ac9bf;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/*========== common ==========  */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 186px;
    padding: 15px 16px;
    background: var(--primary-color);
    border-radius: 6px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
    transition: opacity 0.3s ease;
}

.btn:hover {
    opacity: 0.9;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp.line-2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}

/* ========== Header ========== */
.header {
    background: #fff;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding-top: 52px;
}

.nav ul {
    display: flex;
    align-items: center;
    margin-left: 215px;
}

.nav ul a {
    padding: 8px 20px; /* tăng vùng bấm */
    font-size: 1.6rem;
    color: #2f3a3b;
    font-weight: 400;
}

.nav a:hover,
.nav li.active a {
    font-weight: 600;
    color: #2f3a3b;
    text-shadow: 1px 0 0 currentColor;
}

.header .actions {
    margin-left: auto;
}

.header .action-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: #494949;
}

.header .sign-up-btn {
    margin-left: 24px;
    min-width: 108px;
    padding: 15px 16px;
    border-radius: 6px;
    border: 1px solid #1ebfc1;
    background: #fff;
    color: #1ebfc1;
}

.header .sign-up-btn:hover {
    background: var(--primary-color);
    color: #fff;
}

/*========== Hero ==========  */
.hero {
    padding: 42px 0 79px;
    background: #fff;
}

.hero .body {
    display: flex;
    /* align-items: center;
    justify-content: space-between; */
}

/* Hero left */
.hero .content-block {
    width: 51%;
    padding: 93px 71px 0 0;
}

.hero .badge {
    color: #767e7e;
    font-size: 1.4rem;
    font-weight: 400;
}

.heading {
    color: #0d1111;
    font-weight: 700;
    letter-spacing: -0.02em;
}

.heading.lv1 {
    margin-top: 18px;
    font-size: 6.2rem;
    line-height: 1.16;
}

.heading.lv2 {
    font-size: 4.2rem;
    line-height: 1.33; /* 133.333% */
}

.hero .desc {
    margin-top: 46px;
    color: #9da6a5;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78; /* 177.778% */
    max-width: 385px;
}

.hero .cta-group {
    display: flex;
    align-items: center;
    margin-top: 52px;
}

.hero .hero-cta {
    line-height: 38px;
    border-radius: 14px;
}

.hero .plays {
    display: flex;
    align-items: center;
    margin-left: 50px;
    border: none;
    background: transparent; /* nhìn trong suốt */
    cursor: pointer;
}

.hero .plays .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

/* Hero right */
.hero .media-block {
    position: relative;
    width: 49%;
}

.hero .media-block .img {
    display: block;
    width: 576px;
    height: 631px;
    background: #acf1f4;
    object-fit: cover;
}

.media-block .course-card {
    position: absolute;
    width: 157px;
    padding: 17px;
    top: 27%;
    left: -40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.course-card .title {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.67;
    margin-left: 16px;
}

.media-block .schedule-card {
    position: absolute;
    bottom: 46px;
    left: -65px;
    padding: 16px 25px 23px;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.schedule-card .title {
    text-align: center;
    margin-bottom: 16px;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.67;
}

.schedule-card .bars {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}

.schedule-card .bar {
    width: 74px;
    height: 6px;
    background: linear-gradient(to right, rgba(251, 152, 153, 1), #fff);
    border-radius: 3px;
}
.schedule-card .bar:last-child {
    margin-top: 6px;
    width: 26px;
    height: 6px;
    background: #edf1f5;
}

.hero .avatar-block {
    position: absolute;
    bottom: 41px;
    right: 45px;
    border-radius: 24px;
    padding: 17px 35px;
    background: #fefefd;
    box-shadow: 0px 12px 80px rgba(0, 0, 0, 0.05);
}

.hero .avatar-block .title {
    color: #0d1111;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
}

.hero .avatar-group {
    display: flex;
    justify-content: center;
}

.hero .avatar {
    margin-top: 8px;
    width: 33px;
    height: 33px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: -7px;
}

.hero .avatar-more {
    width: 33px;
    height: 33px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

/*========== Featured ==========  */
.featured {
    margin-top: 51px;
    padding: 52px 0;
}

.featured .feature-top {
    width: 591px;
}

.featured .desc {
    margin-top: 18px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.featured .feature-list {
    display: flex;
    gap: 209px;
    margin-top: 80px;
}

.featured .feature-item {
    flex: 1;
}

.featured .feature-item .info {
    margin-top: 26px;
}

.featured .feature-item .title a {
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
    padding-right: 6px;
    line-height: 1.67;
}

.featured .feature-item .desc {
    margin-top: 16px;
    color: #9da6a5;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.69; /* 168.75% */
}

/*========== Popular ==========  */
.popular {
    margin-top: 51px;
    padding: 49px 0;
}

.popular-top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.popular .popular-top .desc {
    margin-top: 19px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78;
    max-width: 525px;
}

.popular .view-all {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 22px;
}

.view-all:hover {
    text-decoration: underline;
}

.popular .course-list {
    margin-top: 79px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 47px;
}

.popular .course-item {
    position: relative;
    background-color: #fff;
    border-radius: 8px;
    overflow: visible;
}

.popular .course-item .thumb {
    width: calc(100% + 2px);
    height: 393px;
    object-fit: cover;
    background: #d0efed;
    opacity: 0.6;
}

.popular .course-item .info {
    position: absolute;
    top: calc(325px - 17px);
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    padding: 18px 25px 29px;
    width: 325px;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
    z-index: 1;
}

.popular .course-item .title a {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.67;
}

.popular .price {
    margin-top: 16px;
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
}

.popular .price span {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.popular .course-item .desc {
    margin-top: 6px;
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
}

.popular .course-meta {
    margin-top: 18px;
    display: flex;
    align-items: center;
    color: #9da6a5;
}

.course-meta span:nth-of-type(2) {
    margin-right: 10px;
}

.dot {
    width: 6px;
    height: 6px;
    background-color: #1ebfc1;
    border-radius: 50%;
    margin-right: 10px;
}

/*========== Stats ==========  */
.stats {
    margin-top: 186px;
}

.stats .row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.row-stat .value {
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
}

.row-stat .desc {
    margin-top: 11px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
}

/*========== Feedback ==========  */
.feedback {
    margin-top: 186px;
}

.feedback-list {
    display: flex;
}

.feedback-item {
    display: flex;
    width: 100%;
    flex-shrink: 0;
}

.feedback .content {
    width: 66%;
}

.feedback .content .controls {
    display: flex;
    gap: 30px;
    margin-top: 52px;
}

.controls .controls-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    width: 50px;
    height: 50px;
    color: var(--primary-color);
}

.controls .controls-btn:hover {
    color: #fff;
    cursor: pointer;
    opacity: 0.6;
}
.feedback-item .desc {
    margin-top: 33px;
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
}

.feedback-item .desc span {
    color: #070707;
    font-size: 1.6rem;
    font-weight: 500;
}

.feedback-item blockquote {
    max-width: 419px;
    color: #5d6564;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.5; /* 150% */
}

.feedback .info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.feedback .info .avatar-ground {
    display: flex;
    flex-direction: column;
    align-items: center;
}
